In [1]:
import pandas as pd

In [14]:
import numpy as np
import random

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
df = pd.DataFrame(np.random.randn(6,2), hier_index,  ['A', 'B'])

In [18]:
df

             A         B
G1 1  0.199028 -0.793833
   2  0.727732 -0.735739
   3 -1.100424  0.292186
G2 1  1.317313  1.276800
   2  0.707890 -1.101435
   3  1.669371  1.751377

In [20]:
df.loc['G1'].loc[1]

A    0.199028
B   -0.793833
Name: 1, dtype: float64

In [21]:
df.index.names

FrozenList([None, None])

In [23]:
df.index.names = ['Groups', 'Numbers']

In [24]:
df

                       A         B
Groups Numbers
G1     1        0.199028 -0.793833
       2        0.727732 -0.735739
       3       -1.100424  0.292186
G2     1        1.317313  1.276800
       2        0.707890 -1.101435
       3        1.669371  1.751377

In [27]:
df.loc['G2'].loc[2]['B']

np.float64(-1.1014347383327892)

In [28]:
df.xs

<bound method NDFrame.xs of                        A         B
Groups Numbers
G1     1        0.199028 -0.793833
       2        0.727732 -0.735739
       3       -1.100424  0.292186
G2     1        1.317313  1.276800
       2        0.707890 -1.101435
       3        1.669371  1.751377>

In [32]:
df.xs(1,level='Numbers')

               A         B
Groups
G1      0.199028 -0.793833
G2      1.317313  1.276800